<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <div class="registration-form">
      <div class="form__control">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Enter your name"
          class="form-control"
          (blur)="f['name'].markAsTouched()" 
        />
        <div
          class="text-danger"
          *ngIf="(f['name'].touched || submitted) && f['name'].invalid"
        >
          <small *ngIf="f['name'].errors?.['required']">
            Name is required.
          </small>
          <small *ngIf="f['name'].errors?.['minlength']">
            Name must be at least 6 characters.
          </small>
        </div>
      </div>

      <div class="form__control">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          name="email"
          formControlName="email"
          required
          emailValidator
          placeholder="Enter your email"
          class="form-control"
          (blur)="f['email'].markAsTouched()"
        />
        <div
          class="text-danger"
          *ngIf="(f['email'].touched || submitted) && f['email'].invalid" 
        >
          <small *ngIf="f['email'].errors?.['required']">
            Email is required.
          </small>
          <small *ngIf="f['email'].errors?.['emailValidator']">
            Invalid email format.
          </small>
        </div>
      </div>

      <div class="form__control">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
          class="form-control"
          (blur)="f['password'].markAsTouched()"
        />
        <div
          class="text-danger"
          *ngIf="(f['password'].touched || submitted) && f['password'].invalid"
        >
          <small *ngIf="f['password'].errors?.['required']">
            Password is required.
          </small>
        </div>
      </div>

      <div class="form__action">
        <app-button
          type="submit"
          buttonText="Register"
        ></app-button>
      </div>

      <div class="form__text">
        Already have an account?
        <a routerLink="/login">Login</a>
      </div>
    </div>
  </form>
</div>
