<h2>Create / Edit Course</h2>
<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <div class="app-plate">
    <div class="course">
      <h3>Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          placeholder="Course title"
          class="form-control"
        />
        <div
          class="text-danger"
          *ngIf="f['title'].invalid && (f['title'].touched || submitted)"
        >
          <small *ngIf="f['title'].errors?.['required']">Title is required.</small>
          <small *ngIf="f['title'].errors?.['minlength']">
            Minimum 2 characters.
          </small>
        </div>
      </div>

      <div class="form__control">
        <label for="description">Description</label>
        <textarea
          id="description"
          formControlName="description"
          rows="4"
          placeholder="Course description"
          class="form-control"
        ></textarea>
        <div
          class="text-danger"
          *ngIf="f['description'].invalid && (f['description'].touched || submitted)"
        >
          <small *ngIf="f['description'].errors?.['required']">
            Description is required.
          </small>
          <small *ngIf="f['description'].errors?.['minlength']">
            Minimum 2 characters.
          </small>
        </div>
      </div>

      <div class="separator"></div>

      <h3>Authors</h3>
      <div class="form__control">

        <div formGroupName="newAuthor" class="course__flex">
          <input
            type="text"
            id="author"
            formControlName="author"
            placeholder="Input author name"
            class="form-control"
          />
          <app-button
            type="button"
            id="createAuthor"
            buttonText="Create author"
            (click)="createAuthor()"
          ></app-button>
        </div>
        <div
          class="text-danger"
          *ngIf="newAuthorControl.invalid && (newAuthorControl.touched || submitted)"
        >
          <small *ngIf="newAuthorControl.errors?.['minlength']">
            At least 2 characters.
          </small>
          <small *ngIf="newAuthorControl.errors?.['pattern']">
            Only Latin letters &amp; numbers.
          </small>
        </div>

        <div class="course__authors">
          <h4>All Authors</h4>
          <div *ngFor="let a of availableAuthors">
            {{ a.name }}
            <app-button
              type="button"
              buttonText="Add author"
              (click)="addAuthor(a)"
            ></app-button>
          </div>

          <h4>Course Authors</h4>
          <div
            *ngFor="let grp of authors.controls; let i = index"
            [formGroup]="grp"
          >
            <input
              formControlName="name"
              [disabled]="true"
              class="form-control"
            />
            <app-button
              type="button"
              buttonText="Delete author"
              (click)="deleteAuthor(i)"
            ></app-button>
          </div>
        </div>
      </div>

      <div class="separator"></div>

      <h3>Duration</h3>
      <div class="form__control">
        <div class="course__flex">
          <input
            type="number"
            id="duration"
            formControlName="duration"
            placeholder="Duration in minutes"
            class="form-control"
          />
          <div class="course__duration">
            {{ courseForm.value.duration | duration }}
          </div>
        </div>
        <div
          class="text-danger"
          *ngIf="f['duration'].invalid && (f['duration'].touched || submitted)"
        >
          <small *ngIf="f['duration'].errors?.['required']">
            Duration is required.
          </small>
          <small *ngIf="f['duration'].errors?.['min']">
            Cannot be negative.
          </small>
        </div>
      </div>

      <div class="form__action">
        <app-button type="submit" buttonText="Save"></app-button>
      </div>
    </div>
  </div>
</form>
